<% provide :title, "Đăng ký tài khoản" %>
<h1>Đăng ký tài khoản</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.label :name, "Họ Tên" %>
      <%= f.text_field :name, placeholder: "Họ và Tên đầy đủ", class: "form-control" %>
      <%= f.label :email %>
      <%= f.email_field :email,placeholder:"Vui lòng nhập email của bạn", class: "form-control" %>
      <%= f.label :password, "Mật khẩu" %>
      <%= f.password_field :password, placeholder:"Tối thiểu 6 ký tự", class: "form-control" %>
      <%= f.label :phone, "Số điện thoại" %>
      <%= f.text_field :phone, placeholder:"Vui lòng nhập số điện thoại của bạn", class: "form-control" %>
      <%= f.label :address, "Địa chỉ" %>
      <%= f.text_field :address,placeholder:"Vui lòng nhập địa chỉ bạn đang sống", class: "form-control" %>
      <%= f.submit "Đăng ký", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
