<% provide :title, "Tạo hãng giầy" %>
<section class="content-header">
  <h1>Tạo hãng giầy</h1>
  <ol class="breadcrumb">
    <li class="active">Hãng giầy</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <%= form_for [:admin, @category] do |f| %>
          <div class="box-body">
            <%= render "shared/error_messages", object: @category %>
            <%= f.label :name, "Tên nhãn hiệu" %>
            <%= f.text_field :name, placeholder: "Nhập tên nhãn hiệu", class: "form-control" %>
            <br>
            <%= f.submit "Tạo nhãn hiệu", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
