<%= render "layouts/admin/sidebar" %>
<section class="content-header">
  <h1>
    show product
    <small>Advanced form element</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <table>
          <tr>
            <th>Name product</th>
            <th>Descrition product</th>
            <th>price product</th>
            <th>image product</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Back</th>
          </tr>
          <td><%= @product.name %></td>
          <td><%= @product.description %></td>
          <td><%= @product.price %></td>
          <td><%= @product.image %></td>
          <td><%= @product.status %></td>
          <td><%= link_to 'Edit', edit_admin_product_path(@product) %></td>
          <td><%= link_to 'Back', admin_products_path %></td>
        </table>
      </div>
    </div>
  </div>
</section>

